<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhanglian2010.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.zhanglian2010.ui.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.AnimationDemoActivity"
            android:label="@string/title_activity_animation" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.DownloadToSdCardActivity"
            android:label="@string/title_activity_download_to_sd_card" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.BroadcastDemoActivity"
            android:label="@string/title_activity_broadcast" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.SqliteDemoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.ServiceDemoActivity"
            android:label="@string/title_activity_service_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.LayoutAnimationDemoActivity"
            android:label="@string/title_activity_layout_animation_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.AnimationListenerDemoActivity"
            android:label="@string/title_activity_animation_listener_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.JsonDemoActivity"
            android:label="@string/title_activity_json_demo"
            android:parentActivityName="com.zhanglian2010.ui.ActionBarDemoActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zhanglian2010.ui.ActionBarDemoActivity" />
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.ActionBarDemoActivity"
            android:label="@string/title_activity_action_bar_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.FragmentDemoActivity"
            android:label="@string/title_activity_action_bar_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.SaveDataActivity"
            android:label="@string/title_activity_save_data" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.DataToOtherAppActivity"
            android:label="@string/title_activity_to_another_app" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.ClipboardFromActivity"
            android:label="@string/title_activity_clipboard_from" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.ClipboardToActivity"
            android:label="@string/title_activity_clipboard_to" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.TextViewDemoActivity"
            android:label="@string/title_activity_text_view_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.DataFromOtherAppActivity"
            android:label="@string/title_activity_data_from_other_app" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.EditTextDemoActivity"
            android:label="@string/title_activity_edit_text_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.AutoTextDemoActivity"
            android:label="@string/title_activity_auto_text_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.ButtonDemoActivity"
            android:label="@string/title_activity_button_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.CheckboxDemoActivity"
            android:label="@string/title_activity_checkbox_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.ImageViewDemoActivity"
            android:label="@string/title_activity_image_view_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.ImageViewCutActivity"
            android:label="@string/title_activity_image_view_cut" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.ImageViewRotateActivity"
            android:label="@string/title_activity_image_view_rotate" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.DateTimePickerDemoActivity"
            android:label="@string/title_activity_date_time_picker_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.ProgressBarDemoActivity"
            android:label="@string/title_activity_progress_bar_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.ScrollViewDemoActivity"
            android:label="@string/title_activity_scroll_view_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.ScrollViewHorizontalActivity"
            android:label="@string/title_activity_scroll_view_horizontal" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.GalleryDemoActivity"
            android:label="@string/title_activity_gallery_demo" >
        </activity>
        <activity
            android:name="com.zhanglian2010.ui.SpinnerDemoActivity"
            android:label="@string/title_activity_spinner_demo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
